extends layout

block content
  
  div(class='container')
    h1= title
    form(class="login-form" method='post')
      p
        label Login
        input(class="login" type='text' name='login')
      p
        label Hasło
        input(class="login" type='password' name='password')
      p
        input(class="button" type='submit' value='zaloguj')


